@mixin range-slider($width, $height, $input-top, $input-bg-color, $input-thumb-color, $float:none, $input-height:40px, $input-border-radius:10px) {
   position: relative;
   width: $width;
   height: $height;
   float: $float;
   text-align: center;
     
   input[type="range"] {
     position: absolute;
     -webkit-appearance: none;
     border-radius: $input-border-radius;
     background: $input-bg-color;
     left: 0;
     top: $input-top;
     width: $width;
     outline: none;
     height: $input-height;
   }  
   
   input[type="range"]::-webkit-slider-thumb {
     pointer-events: all;
     position: relative;
     z-index: 1;
     outline: 0;    
     -webkit-appearance: none;
     width: $input-height;
     height: $input-height;
     border: none;
     border-radius: $input-border-radius;
     background-color: gold;
   }
}
 
 section.range-slider {
   @include range-slider(300px, 300px, 50px, red, left);
 }
 